@model ModelView


<style>
    body {
        background-image: url('/ImagesATEEZ/sleepingAniteez.jpg'); /* chemin depuis wwwroot */
        background-size: cover;       /* couvre toute la page */
        background-position: center;  /* centrée */
        background-repeat: no-repeat; /* pas de répétition */
        background-attachment: fixed; /* l’image reste fixe au scroll */
    }
</style>


<div class="btn-wrapper">
  <div class="text-center text-img">
      <p>You will now be able to create your wishlist of PC of ATEEZ members. Choose a member:</p>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
    <!-- Bouton 1 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="KHJ"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["KHJ-fond"]; color:@Model.Color["KHJ-tour"]; border: 5px solid @Model.Color["KHJ-tour"];">
        Hongjoong
      </a>
    </div>

    <!-- Bouton 2 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="PSH"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["PSH-fond"]; color:@Model.Color["PSH-tour"]; border: 5px solid @Model.Color["PSH-tour"];">
        Seonghwa
      </a>
    </div>

    <!-- Bouton 3 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="JYH"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["JYH-fond"]; color:@Model.Color["JYH-tour"]; border: 5px solid @Model.Color["JYH-tour"];">
        Yunho
      </a>
    </div>

    <!-- Bouton 4 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="KYS"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["KYS-fond"]; color:@Model.Color["KYS-tour"]; border: 5px solid @Model.Color["KYS-tour"];">
        Yeosang
      </a>
    </div>
  </div>
</div>

<br>
<br> 

<div class="container">
  <div class="row">
    <!-- Bouton 1 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="CSN"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["CSN-fond"]; color:@Model.Color["CSN-tour"]; border: 5px solid @Model.Color["CSN-tour"];">
        San
      </a>
    </div>

    <!-- Bouton 2 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="SMG"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["SMG-fond"]; color:@Model.Color["SMG-tour"]; border: 5px solid @Model.Color["SMG-tour"];">
        Mingi
      </a>
    </div>

    <!-- Bouton 3 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="JWY"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["JWY-fond"]; color:@Model.Color["JWY-tour"]; border: 5px solid @Model.Color["JWY-tour"];">
        Wooyoung
      </a>
    </div>

    <!-- Bouton 4 -->
    <div class="d-grid gap-2 col-3 mx-auto">
      <a asp-controller="member" asp-action="MPage" asp-route-valeur="CJH"
         class="btn btn-lg btn-block"
         style="background-color:@Model.Color["CJH-fond"]; color:@Model.Color["CJH-tour"]; border: 5px solid @Model.Color["CJH-tour"];">
        Jongho
      </a>
    </div>
  </div>
</div>


<br>
<br>
<div class="btn-wrapper">
  <a asp-controller="member" asp-action="Telecharger" class="btn btn-dark btn-lg btn-block">Download the pdf</legend></a>
</div>
@* 
<h1>Liste des PCs</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Album</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.id</td>
                <td>@u.Name</td>
                <td>@u.album</td>
            </tr>
        }
    </tbody>
</table> *@